<div class="header">
    <h3 class="text-muted"><a href="/">Yaling Xu</a></h3>
    <ul class="nav nav-pills">
        <!-- <li class="{{ page.job_market }}"><a href="/job_market" title="job_market">Job Market</a></li> -->
        <li class="{{ page.research }}"><a href="/research" title="research">Research</a></li>
        <li class="{{ page.teaching }}"><a href="/teaching" title="teaching">Teaching</a></li>
        <li><a href="/files/CurriculumVitae_YalingXu.pdf" title="CV">CV</a></li>
    </ul>

</div> <!-- /header -->