<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="Yaling Xu">
    <meta name="keywords" content="Yaling Xu, Cornell University, Economics, Public Policy, Education">
    <!-- favicon
<link rel="shortcut icon" href="/img/ico/favicon.png">
-->
    <title>{{ page.title }}</title>
    <meta name="google-site-verification" content="Un-ewJG6oWf8GJgzvm8l4W8w3VozMZcLiwEm-fobvQE" />
    <!-- styles -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/jumbotron-narrow.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
<script src="../../assets/js/html5shiv.js"></script>
<script src="../../assets/js/respond.min.js"></script>
<![endif]-->
</head>